@font-face {
  font-family: 'Marvin Visions Big';
  font-style: normal;
  font-weight: 700;
  src: local('Marvin Visions Big'), url('../fonts/MarvinVisionsBig-Bold.woff2') format('woff2');
}

@tailwind base;

.text-shadow-sm {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.text-shadow {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.text-shadow-light-sm {
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.2);
}
.text-shadow-light {
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.2);
}

html {
  line-height: 1.15;
}
body {
  @apply m-0 leading-snug;
}
h1 {
  @apply font-hero font-bold text-6xl mb-2;
  line-height: 0.85;
}
h2 {
  @apply font-hero tracking-wider font-bold text-2xl;
}
p {
  @apply leading-tight text-sm;
}

.color-scheme-light h1 {
  @apply text-shadow;
}
.color-scheme-light h2 {
  @apply text-shadow-sm;
}

.color-scheme-dark h1 {
  @apply text-shadow-light;
}
.color-scheme-dark h2 {
  @apply text-shadow-light-sm;
}

@tailwind components;

@tailwind utilities;

.color-scheme-light .text-primary,
.color-scheme-light .hover\:text-primary:hover,
.color-scheme-light .active\:text-primary:active,
.color-scheme-light .focus\:text-primary:focus {
  @apply text-light-primary;
}
.color-scheme-light .text-secondary,
.color-scheme-light .hover\:text-secondary:hover,
.color-scheme-light .active\:text-secondary:active,
.color-scheme-light .focus\:text-secondary:focus {
  @apply text-light-secondary;
}
.color-scheme-light .text-accent,
.color-scheme-light .hover\:text-accent:hover,
.color-scheme-light .active\:text-accent:active,
.color-scheme-light .focus\:text-accent:focus {
  @apply text-light-accent;
}
.color-scheme-light .text-alt,
.color-scheme-light .hover\:text-alt:hover,
.color-scheme-light .active\:text-alt:active,
.color-scheme-light .focus\:text-alt:focus {
  @apply text-light-alt;
}
.color-scheme-light .bg-primary {
  @apply bg-light-primary;
}
.color-scheme-light .bg-secondary {
  @apply bg-light-secondary;
}
.color-scheme-light .bg-accent {
  @apply bg-light-accent;
}
.color-scheme-light .bg-alt {
  @apply bg-light-alt;
}
.color-scheme-light a {
  @apply text-light-accent;
}
.color-scheme-light a:active,
.color-scheme-light a:hover,
.color-scheme-light a:focus {
  @apply text-light-primary;
}

.color-scheme-dark .text-primary,
.color-scheme-dark .hover\:text-primary:hover,
.color-scheme-dark .active\:text-primary:active,
.color-scheme-dark .focus\:text-primary:focus {
  @apply text-dark-primary;
}
.color-scheme-dark .text-secondary,
.color-scheme-dark .hover\:text-secondary:hover,
.color-scheme-dark .active\:text-secondary:active,
.color-scheme-dark .focus\:text-secondary:focus {
  @apply text-dark-secondary;
}
.color-scheme-dark .text-accent,
.color-scheme-dark .hover\:text-accent:hover,
.color-scheme-dark .active\:text-accent:active,
.color-scheme-dark .focus\:text-accent:focus {
  @apply text-dark-accent;
}
.color-scheme-dark .text-alt,
.color-scheme-dark .hover\:text-alt:hover,
.color-scheme-dark .active\:text-alt:active,
.color-scheme-dark .focus\:text-alt:focus {
  @apply text-dark-alt;
}
.color-scheme-dark .bg-primary {
  @apply bg-dark-primary;
}
.color-scheme-dark .bg-secondary {
  @apply bg-dark-secondary;
}
.color-scheme-dark .bg-accent {
  @apply bg-dark-accent;
}
.color-scheme-dark .bg-alt {
  @apply bg-dark-alt;
}
.color-scheme-dark a {
  @apply text-dark-accent;
}
.color-scheme-dark a:active,
.color-scheme-dark a:hover,
.color-scheme-dark a:focus {
  @apply text-dark-primary;
}
