/* @import './colors.css'; */
/* :root {
  --light--color-primary: #e6fffa;
  --light--color-secondary: #81e6d9;
  --light--color-accent: #234e52;
  --light--color-alt: #f7fafc;
  --dark--color-primary: #9b2c2c;
  --dark--color-secondary: #81e6d9;
  --dark--color-accent: #234e52;
  --dark--color-alt: #e6fffa;
} */

@font-face {
  font-family: 'Marvin Visions Big';
  font-style: normal;
  font-weight: 700;
  src: local('Marvin Visions Big'), url('./fonts/MarvinVisionsBig-Bold.woff2') format('woff2');
}

@tailwind base;

html {
  line-height: 1.15;
}
body {
  @apply m-0 leading-snug;
}
h2 {
  @apply text-2xl font-bold;
}

.Hero {
  @apply text-hero font-hero font-medium uppercase cursor-pointer;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  line-height: 0.85;
}

@tailwind components;

@tailwind utilities;

.mode-light .text-primary {
  @apply text-light-primary;
}
.mode-light .text-secondary {
  @apply text-light-secondary;
}
.mode-light .text-accent {
  @apply text-light-accent;
}
.mode-light .text-alt {
  @apply text-light-alt;
}
.mode-light .bg-primary {
  @apply bg-light-primary;
}
.mode-light .bg-secondary {
  @apply bg-light-secondary;
}
.mode-light .bg-accent {
  @apply bg-light-accent;
}
.mode-light .bg-alt {
  @apply bg-light-alt;
}
.mode-light a {
  @apply text-light-accent;
}
.mode-light a:active,
.mode-light a:hover,
.mode-light a:focus {
  @apply text-light-primary;
}

.mode-dark .text-primary {
  @apply text-dark-primary;
}
.mode-dark .text-secondary {
  @apply text-dark-secondary;
}
.mode-dark .text-accent {
  @apply text-dark-accent;
}
.mode-dark .text-alt {
  @apply text-dark-alt;
}
.mode-dark .bg-primary {
  @apply bg-dark-primary;
}
.mode-dark .bg-secondary {
  @apply bg-dark-secondary;
}
.mode-dark .bg-accent {
  @apply bg-dark-accent;
}
.mode-dark .bg-alt {
  @apply bg-dark-alt;
}
.mode-dark a {
  @apply text-dark-accent;
}
.mode-dark a:active,
.mode-dark a:hover,
.mode-dark a:focus {
  @apply text-dark-primary;
}

/* .mode-light {
  --color-primary: var(--light--color-primary);
  --color-secondary: var(--light--color-secondary);
  --color-accent: var(--light--color-accent);
  --color-alt: var(--light--color-alt);
}

.mode-dark {
  --color-primary: var(--dark--color-primary);
  --color-secondary: var(--dark--color-secondary);
  --color-accent: var(--dark--color-accent);
  --color-alt: var(--dark--color-alt);
} */
